
body{
    font-family: 'Roboto', sans-serif;
}

h1{
    color:block;
    }
            h1{
                color:brown;
            }
            img{
                width: 100%;
            }
            #pro{
                color: blue;
            }
            .big{
                color: aqua;
            }
            h1.big{
                color: bisque;
            }