*{margin: 0;padding: 0;outline: 0;box-sizing :border-box;}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    color:#333;
    overflow-x: hidden;
}

h1{
    color:block;
    }
            h1{
                color:brown;
            }
            img{
                width: 100%;
            }
            #pro{
                color: blue;
            }
            .big{
                color: aqua;
            }
            h1.big{
                color: bisque;
            }